/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
GENERAL STYLES
*********************/

html {
    height: 100%;
}

body {
	font-family: $sans-serif;
	font-size: 100%;
	line-height: 1.2;
	min-height: 100vh;
	color: $text-color;
	background-color: $white;
	-webkit-font-smoothing: antialiased;
}

// starting point for responsive images
.img-responsive {
  	max-width: 100%;
	height: auto;
	margin: 0 auto;
	display: block;
}

.hide-on-phones 	{ display: none !important; }
.show-on-phones 	{ display: block !important; }

.show-above-768 	{ display: none !important; }
.show-below-768 	{ display: block !important; }

.show-above-980 	{ display: none !important; }
.show-below-980 	{ display: block !important; }

.show-above-1024 	{ display: none !important; }
.show-below-1024 	{ display: block !important; }

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

.rtl {}                           /* for sites that are read right to left (i.e. hebrew) */
.home {}                          /* home page */
.blog {}                          /* blog template page */
.archive {}                       /* archive page */
.date {}                          /* date archive page */
	.date-paged-1 {}                /* replace the number to the corresponding page number */
.search {}                        /* search page */
	.search-results {}              /* search result page */
	.search-no-results {}           /* no results search page */
	.search-paged-1 {}              /* individual paged search (i.e. body.search-paged-3) */
.error404 {}                      /* 404 page */
.single {}                        /* single post page */
	.postid-1 {}                    /* individual post page by id (i.e. body.postid-73) */
	.single-paged-1 {}              /* individual paged single (i.e. body.single-paged-3) */
.attachment {}                    /* attatchment page */
	.attachmentid-1 {}              /* individual attatchment page (i.e. body.attachmentid-763) */
	.attachment-mime-type {}        /* style mime type pages */
.author {}                        /* author page */
	.author-nicename {}             /* user nicename (i.e. body.author-samueladams) */
	.author-paged-1 {}              /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {}                      /* category page */
	.category-1 {}                  /* individual category page (i.e. body.category-6) */
	.category-paged-1 {}            /* replace the number to the corresponding page number */
.tag {}                           /* tag page */
	.tag-slug {}                    /* individual tag page (i.e. body.tag-news) */
	.tag-paged-1 {}                 /* replace the number to the corresponding page number */
.page-template {}                 /* custom page template page */
	.page-template-page-php {}      /* individual page template (i.e. body.page-template-contact-php */
	.page-paged-1 {}                /* replace the number to the corresponding page number */
	.page-parent {}                 /* parent page template */
	.page-child {}                  /* child page template */
	.parent-pageid-1 {}             /* replace the number to the corresponding page number */
.logged-in {}                     /* if user is logged in */
.paged {}                         /* paged items like search results or archives */
	.paged-1 {}                     /* individual paged (i.e. body.paged-3) */

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 96%;
	margin: 0 auto;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;
	text-decoration: none;
	@include transition(all 0.2s ease-out);

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
		outline: none;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

.btn:focus {
	outline: none !important;
}

.excerpt-read-more {
	white-space: nowrap;
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	@include serif(600);
	text-transform: uppercase;
	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 2em;
	line-height: 1.2em;
	
	.home & {
		font-size: 1.05em;
		margin-top: 0;
	}
	
	&.news-title {
		font-size: 1em;
		margin-bottom: 0.125em;
	}
	
	.headline-main &,
	.twocol-main &,
	.bios-main & {
		border: 0 none;
		clip: rect(0px, 0px, 0px, 0px);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px; 		
	}
	
}

h2, .h2 {
	font-size: 1.75em;
	line-height: 1.2em;
	margin-bottom: 0.375em;
	
	&.archive-title {
		margin-top: 0;
	}	
	
	.headline-main & {
		font-size: 1.05em;
    	margin-top: 0;
	}

	.bios-main & {
		font-size: 1.05em;
    	margin: 0;
	}
	
	.twocol-main & {
		font-size: 1.05em;
	}
	
}

h3, .h3 {
	font-size: 1.125em;
}

h4, .h4 {
	font-size: 1.1em;
	font-weight: 700;
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*********************
HEADER STYLES
*********************/

.header {

	#logo {
		float: left;
		margin: 0;

		a {
			position: relative;
			margin: 15px 20px 15px 0;
			padding: 0;
			width: 260px;
			height: 100px;
			line-height: 25px;
			display: block;
			text-indent: -9999em;
			background: url(../images/nyc-pros-logo.png) no-repeat;
			background-image: url(../images/nyc-pros-logo.svg), none;
			background-size: contain;
			background-position: center;
		}
	}

	.nav {
		@include serif(600);
	}

	.icon-bar {
		background: $gray;
	}
	
	.navbar-toggle {
		margin-right: 0;
	
		// Bars
		.icon-bar {
			width: 25px;
			height: 1px;
		}
		
		.icon-bar + .icon-bar {
			margin-top: 5px;
		}
		
		&.open {
			margin-top: 15px;
			
			.icon-bar + .icon-bar {
				margin-top: -2px;
			}
			
			span:nth-child(1) {
				top: 18px;
				width: 0%;
				left: 50%;
			}
			
			span:nth-child(2) {
				@include transform( rotate(45deg) );
			}
			
			span:nth-child(3) {
				@include transform( rotate(-45deg) );
			}
			
			span:nth-child(4) {
				top: 18px;
				width: 0%;
				left: 50%;
			}			
		
		}
  
	}
	
	.search-toggle {
		display: none;
	}	
	
}	


/*********************
HOME STYLES
*********************/

.home-content {
	padding: 1em 0;
	
	p { font-size: 0.875em; }
}



/*********************
BIOS STYLES
*********************/

.bios-main {
	
	.bios-block {
		padding: 1em 0 0 0;
		border-top: 1px solid $gray;
		
		&:first-child {
			border: none;
			padding: 0;
		}
		
		p { 
			font-size: 0.875em; 
			
			&.bio-subtitle {
				margin: 0;
			}
		}
		
	}	
	
} 


/*********************
TWoCOL STYLES
*********************/

.twocol-main {
	
	.twocol-block {
		
		p { 
			font-size: 0.875em; 
		}
		
	}
	
	.gform_body {
		font-size: 0.875em;
	}
	
}

/*********************
HEADING BLOCK STYLES
*********************/

.headline-main {
	
	.heading-block {
		
		margin: 1em 0 0 0;
		padding: 1em 0 0 0;
		border-top: 1px solid $gray;
		
		&:first-child {
			margin-top: 0;
			padding-top: 0;
			border-top: 0;
			
		}
		
	}
	
	p { font-size: 0.875em; }
	
	img {
		margin-bottom: 0!important;
	}
}


/*********************
NAVIGATION STYLES
*********************/

.navbar-collapse {

	.navbar-nav {
		
		> li {		

			#cse-search-box {
				position: relative;
			    display: block;
			    margin: 0;
			    padding: 0;
			    font-size: 0;
			    
				&.collapse {
					display: block;
					visibility: visible;
					height: auto;
					padding-bottom: 0;
					overflow: visible;
				}			    
			    
			    input {
				    font-size: 16px;
				    font-weight: 600;
				    color: $gray;
				    width: 100%;
				    line-height: 16px;
				    padding: 6px 31px 6px 10px;
				    border: none;
				    @include border-radius ( 0 );
				    @include box-shadow( inset 0 1px 1px rgba(0,0,0,0.075) );
				    @include transition( box-shadow ease-in-out 0.15s );
				    text-transform: uppercase;
				    text-overflow: ellipsis;
				    
				    &:focus {
					    outline: 0;
					    @include box-shadow ( inset 0 1px 1px rgba(0,0,0,0.075),0 0 4px rgba(126,129,132,0.4) );
				    }
				    
			    }
			    
			    .btn-search {
				    position: absolute;
				    top: 0;
				    right: 0;
				    background: transparent;
				    border: none;
				    padding: 0;
				    
					.fa {
					    font-size: 14px;
					    color: $gray;
					    line-height: 31px;
					    width: 31px;
					    @include transition( color 0.3s ease-in );
					    
					    &:hover, &:focus {
					    	color: $red;
					    }
					    
					}				    
				    
			    }
			    
			}
			
		}
		
	}	
	
}

/*********************
POSTS & CONTENT STYLES
*********************/

#main {
	margin: 1em 0;
	
	.home & {
		margin: 0;
	}
	
}

#content {
	/* margin: 1em 0; */
}

	.page-title,
	.subheading {
		text-align: center;
	}

	.subheading {
		@include droid;
		color: $gray;
		font-size: 1.125em;
		margin-top: 0;

		.single &,
		.page-template-page-detail & {
			margin-bottom: 0;
		}

	}

		.hentry {
			margin: 0 10px;

			header {

			}

			footer {

				p {
					margin: 0;
				}
			}

		} /* end .hentry */

		.single-title,
		.page-title,
		.entry-title {
			margin: 0;
		}

		.single-title {}

		.page-title {}

		.entry-title {}

		.archive-title {}

		/* want to style individual post classes? Booya! */
		.post-id {}         /* post by id (i.e. post-3) */
		.post {}            /* general post style */
		.page {}            /* general article on a page style */
		.attachment {}      /* general style on an attatchment */
		.sticky {}          /* sticky post style */
		.hentry {}          /* hentry class */
		.category-slug {}   /* style by category (i.e. category-videos) */
		.tag-slug {}        /* style by tag (i.e. tag-news) */

		/* post meta */
		.byline {
			color: $meta-gray;
			font-style: italic;
			margin: 0;

			time {}
		}

		/* entry content */
		.entry-content {
			// padding: 1em 0 0;

			p {
				margin: 0 0 1em;
			}


			ul, ol, table, dl {}

			ul, ol {

				li {}

			}

			ul {

				li {}

			}

			ol {

				li {}

			}

			table {
				width: 100%;
				border: 1px solid $gray;
				margin-bottom: 1.5em;

				caption {
					margin: 0 0 7px;
					font-size: 0.75em;
					color: $meta-gray;
					text-transform: uppercase;
					letter-spacing: 1px;
				}
			}

			tr {
				border-bottom: 1px solid $gray;

				&:nth-child(even) {
					background-color: $light-gray;
				}
			}

			td {
				padding: 7px;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}

			th {
				background-color: $light-gray;
				border-bottom: 1px solid $gray;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}

			blockquote {
				margin: 0 0 1.5em 0.75em;
				padding: 0 0 0 0.75em;
				border-left: 3px solid $blue;
				font-style: italic;
				color: $meta-gray;

				&:before {}

			}

			dl {}

			dt {}

			dd {
				margin-left: 0;
				font-size: 0.9em;
				color: #787878;
				margin-bottom: 1.5em;
			}

			img {
				display: block;
				margin: 0 auto 1em;
				max-width: 100%;
				height: auto;
			}
			
			.twocol-img {
				border-bottom: 1px solid $gray;
			}

			/*
			image alignment on a screen this size may be
			a bit difficult. It's set to start aligning
			and floating images at the next breakpoint,
			but it's up to you. Feel free to change it up.
			*/
			.alignleft, img.alignleft {}
			.alignright, img.alignright {}
			.aligncenter, img.aligncenter {}

			.size-auto,
			.size-full,
			.size-large,
			.size-medium,
			.size-thumbnail {
				max-width: 100%;
				height: auto;
			}

			pre {
				background: $black;
				color: $light-gray;
				font-size: 0.9em;
				padding: 1.5em;
				margin: 0 0 1.5em;
				border-radius: 3px;
			}

		} /* end .entry-content */

		.wp-caption {
			position: relative;
			max-width: 100%;
			margin: 5px auto 1.5em;

			/* images inside wp-caption */
			img {
				display: block;
				max-width: 100%;
				margin-bottom: 0;
				width: 100%;
			}

			p.wp-caption-text {
				@include droid;
				font-size: 20px;
				text-align: center;
				color: $white;
				margin: 0;
				padding: 30px 20px;
				background: $gray;
			}

			p.wp-caption-text {
				filter: alpha(opacity=100);
				opacity: 1.0;
				@include transition(opacity .25s ease-in-out);
			}

			&.alignleft, img.alignleft,
			&.alignright, img.alignright {

				p.wp-caption-text {
					font-size: 14px;
					padding: 10px;
				}

			}

			&.aligncenter {

				p.wp-caption-text {
					@include raleway(600);
					font-style: normal;
				}

			}

		} /* end .wp-caption */

		/* image gallery styles */
		.gallery {

			dl {

				a {}

				img {}

			}

			dt {}

			dd {}

		} /* end .gallery */

		/* gallery caption styles */
		.gallery-caption {}

		.size-full {}
		.size-large {}
		.size-medium {}
		.size-thumbnail {}

	// the tag output
	.tags {
		margin: 0;
	}

	// the disqus output
	#disqus_thread {
		margin-bottom: 20px;

		.page-detail & {
			margin-top: 10px;
		}

	}

/*********************
NEWS
*********************/

.news-content {
	padding: 1em 0 0;
	
	p {
		margin: 0 0 1em;
	}	
	
}

.news-date {
	font-size: 0.8em;
}

.post-listing {
	font-size: 0.875em;
	border-top: 1px solid $gray;
	
	&:first-child {
		border: none;
	}
	
}


/*********************
MAPPING
*********************/

#single-event-map {
	width: 100%;
	height: 250px;
	background-color: rgba(255, 255, 255, 0.5);
	margin: 0 0 10px 0;
	clear: both;

	div.marker a {
		visibility: hidden;
	}

	.address-infowindow {

		a.btn {
			margin: 5px 0;
			white-space: nowrap;
		}
	}

	img {
		max-width: none!important;
	}

	.map-directions {
		font-family: $sans-serif;
		font-size: 18px;
	}

}

/*********************
PAGE NAVI STYLES
*********************/

.pagination-nav {
	text-align: center;

	&.pagination-footer .pagination {
		margin: 0 0 10px;
	}

	.previous,
	.prev,
	.next {

		.fa {
			vertical-align: inherit;

			&:before {
				vertical-align: middle;
			}

		}

		span {
			display: none;
		}

	}

	span.current {
		color: $white;
		background-color: $red;
		border-color: $red;
	}

}

/*********************
GOOGLE SEARCH STYLES
*********************/

.gsc-control-cse {
	padding: 0 !important;

	.gsc-above-wrapper-area {
		border-bottom: 1px solid $gray;
		padding-bottom: 0;

		.gsc-above-wrapper-area-container {
			border-bottom: 1px solid $gray;
		}

	}

	.gsc-result-info,
	.gcsc-branding,
	.gsc-table-result,
	.gsc-thumbnail-inside,
	.gsc-url-top {
		padding-left: 0;
		padding-right: 0;
	}

	.gsc-results {
		width: 100%;
	}
	
	.gsc-selected-option-container {
		min-width: 80px;
	}

	a, a:visited {
		color: $link-color !important;
		text-decoration: none !important;

		/* on hover */
		&:hover, &:focus {
			color: $link-hover !important;
		}

	}

	.gs-title {
		text-decoration: none !important;
	}
	
	.gs-result .gs-title, .gs-result .gs-title * {
		color: $link-color;
		text-decoration: none;
	}

	.gs-visibleUrl {
		color: $gray !important;
	}

	.gsc-cursor-box {
		text-align: center;

		.gsc-cursor {
			display: inline-block;
			font-size: 16px;
			margin: 1px;
			@include border-radius(4px);

			div {
				position: relative;
				float: left;
				padding: 6px 12px;
				margin: 0;
				line-height: 1.428571429;
				text-decoration: none;
				background-color: #ffffff;
				border: 1px solid #ddd;
				margin-left: -1px;
				color: $black;

				&:hover,
				&:focus {
					background-color: #eee;
					text-decoration: none;
				}
				
				&:focus {
					outline: none;
				}

				&.gsc-cursor-current-page {
					z-index: 2;
					color: #ffffff;
					font-weight: normal;
					background-color: $link-hover;
					border-color: $link-hover;
					cursor: default;
				}

				&:first-child {
					@include border-radius(4px 0 0 4px);
				}

				&:last-child {
					@include border-radius(0 4px 4px 0);
				}
				
				&:only-child {
					@include border-radius(4px);
				}				

			}

		}

	} /* end .gsc-cursor-box */

} /* end .gsc-control-cs */

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	
	#archive {
		margin: 0 10px 1.5em;
		
		a {
			width: 100%;
		}

	}	

	.widgettitle {
		border-bottom: 1px solid $gray;
		padding-bottom: 0.25em;
		margin: 0 0 0.75em;
	}

	.widget,
	.post-listing {
		padding: 0;
		margin: 0 10px 1.5em;
		
		img {
			display: block;
			margin: 1em auto;
			max-width: 100%;
			height: auto;
		}

		ul {
			li {
				margin-bottom: 0.75em;

				&:first-child {}
				&:last-child {}
				a {}
				/* deep nesting */

				ul {
					margin-top: 0.5em;
					padding-left: 1em;
				}
			}
		}
	}
	
	.post-listing {
		margin-bottom: 0;

		h3 {
			margin-bottom: 0.125em;
		}
		
		&:first-child {
			
			img,
			h3 {
				margin-top: 0;
			}

		}
	
	}

	.no-widgets {
		background-color: $white;
		padding: 1.5em;
		text-align: center;
		border: 1px solid $border-color;
		border-radius: 2px;
		margin-bottom: 1.5em;
	}
	
}	
	
/*********************
FOOTER STYLES
*********************/

.footer {
	
	#inner-footer {
		border-top: 1px solid $gray;
		padding-top: 0.5em;
		margin-bottom: 2em;
		
		.source-org {
			font-size: 0.75em;
			
			strong {
				@include serif(600);
				text-transform: uppercase;
			}
			
			span {
				display: block;
				margin: 0.25em 0;
				text-align: center;
			}
			
		}
		
	}

}

/*********************
EMBED RESPONSIVELY 
*********************/

.embed-container { 
	position: relative; 
	padding-bottom: 56.25%; 
	height: 0; 
	overflow: hidden; 
	max-width: 100%; 
	
} 

.embed-container iframe, 
.embed-container object, 
.embed-container embed { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
}